body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-container h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.game-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.game-container input {
  width: 150px;
  padding: 10px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  border: 1px solid black;
}
.game-container .playerOneBtn {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  margin-left: 10px;
}

.game-container h4 {
  text-transform: capitalize;
  color: red;
  font-weight: normal;
  font-size: 16px;
  display: none;
}
